:root {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 1rem;
  cursor: crosshair;
}
::selection {
  background-color: red;
  color: white;
}
a {
  color: grey;
  text-decoration: none;
}
a:hover {
  color: red;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
