body {
  display: flex;
  justify-content: center;
}
nav.desktop {
  width: 350px;
}
main {
  width: calc(100% - 350px);
  max-width: 900px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
main p:first-child {
  margin-top: 0;
}
img {
  width: 100%;
  height: auto;
}

nav.mobile {
  display: none;
}
@media screen and (max-width: 800px) {
  nav.desktop {
    display: none;
  }
  nav.mobile {
    display: block;
  }
  body {
    flex-direction: column;
  }
  main {
    width: initial;
    max-width: initial;
  }
  nav.mobile .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #menu {
    display: none;
  }
  #menu:target {
    display: block;
  }
  #menu {
    position: fixed;
    z-index: 10;
    background-color: black;
    inset: 0;
    padding: 8px;
  }
  #menu .header {
    margin-bottom: 0;
  }
}
