---
import Events from "../components/Events.mdx";
import Links from "../components/Links.mdx";
import Shell from "../components/Shell.astro";
import "./article.css";
---

<Shell>
  <nav>
    <a href="/">Distraction Collective</a>
    <div>✣</div>
    <Events />
    <div>✣</div>
    <Links />
  </nav>
  <main>
    <slot />
  </main>
</Shell>
