---
import Events from "../components/Events.mdx";
import Links from "../components/Links.mdx";
import Shell from "../components/Shell.astro";
import "./article.css";
---

<Shell>
  <nav class="desktop">
    <a href="/">Distraction Collective</a>
    <div>✣</div>
    <Events />
    <div>✣</div>
    <Links />
  </nav>
  <nav class="mobile">
    <p class="header">
      <a href="/">Distraction Collective</a>
      <a href="#menu">menu</a>
    </p>
    <div id="menu">
      <p class="header">
        <a href="/">Distraction Collective</a>
        <a href="#">close</a>
      </p>
      <div>✣</div>
      <Events />
      <div>✣</div>
      <Links />
    </div>
  </nav>
  <main>
    <slot />
  </main>
</Shell>
