---
import Events from "../components/Events.mdx";
import Links from "../components/Links.mdx";
import Shell from "../components/Shell.astro";
import "./home.css";
---

<Shell>
  <article>
    <slot />
    <p>Organizers of</p>
    <Events />
    <p>✣</p>
    <Links />
  </article>
</Shell>
