---
import "./main.css";
import Cursor from "../components/Cursor.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Distraction Collective</title>
  </head>
  <body>
    <Cursor />
    <article>
      <slot />
    </article>
    <script>
      import mixpanel from "mixpanel-browser";

      if (location.hostname === "distraction.fun") {
        mixpanel.init("447bb78443c2b759c1e5bf591a2b7e4e");
      }
    </script>
  </body>
</html>
